---
interface Props {
  names: string[];
}
const { names } = Astro.props;

const data = {
  amazon: {
    title: "Software Engineer @ Amazon",
    from: "Dec 2021",
    to: "Apr 2023",
    tangibles: [
      "95% line and 90% branch UT coverage for critical backend authentication services.",
      "Most active participant of code reviews across CLS Security SDE branch.",
      "Perform data analyses of FC devices, resulting in +34% visibility.",
      "Lead adoption of BDD w/ Cucumber, covering 100% of registration and authentication use cases.",
    ],
    intangibles: [
      "Design and implement simple, extensive monitoring framework used since launch.",
      "Mentor new team members in processes such as: development, testing, oncall.",
      "Design and publish company-wide workaround for slow Cloudformation stack teardowns.",
      "Maintain existing Ruby on Rails authentication service shortly after onboarding.",
      "Participate in design, implementation, and troubleshooting of new Java authentication service from planning to prod launch and beyond.",
    ],
  },
  blakfx: {
    title: "Software Engineer @ BlakFX",
    from: "Jul 2020",
    to: "Apr 2021",
    tangibles: [],
    intangibles: [],
  },
  solosegment: {
    title: "Software Engineer @ SoloSegment",
    from: "Jan 2021",
    to: "May 2021",
    tangibles: [],
    intangibles: [],
  },
};
---

<div class="flex flex-col gap-2 items-center text-center">
  {
    Object.values(data).map((data) => {
      const { title, from, to, tangibles, intangibles } = data;
      return (
        <>
          <h3 class="flex italic gap-4">
            <span>{title}</span>
            <span class="flex">
              <span>{from}</span> — <span>{to}</span>
            </span>
          </h3>
          <div class="grid grid-cols-2 gap-2">
            <div class="tangible">
              <h4 class="font-bold mb-2">Tangibles</h4>
              {tangibles.map((e) => (
                <p class="mb-1">{e}</p>
              ))}
            </div>
            <div class="intangible">
              <h4 class="font-bold mb-2">Intangibles</h4>
              {intangibles.map((e) => (
                <p class="mb-1">{e}</p>
              ))}
            </div>
          </div>
        </>
      );
    })
  }
</div>
