---
interface Props {
  names: string[];
}
const { names } = Astro.props;

import { getExperienceData } from "../data/professional";
---

<div class="flex flex-col gap-2 items-center text-center">
  {
    names.map((n) => {
      const { title, from, to, results, other } = getExperienceData(n);
      return (
        <>
          <h3 class="flex italic gap-4">
            <span>{title}</span>
            <span class="flex">
              <span>{from}</span> — <span>{to}</span>
            </span>
          </h3>
          <div class="grid grid-cols-2 gap-2">
            <div class="results">
              <h4 class="font-bold mb-2">Results</h4>
              {results.map((e) => (
                <p class="mb-1">{e}</p>
              ))}
            </div>
            <div class="other">
              <h4 class="font-bold mb-2">Other</h4>
              {other.map((e) => (
                <p class="mb-1">{e}</p>
              ))}
            </div>
          </div>
        </>
      );
    })
  }
</div>
